@charset 'utf-8';

html {
	scroll-behavior: smooth;
}

body {
	background-color: $grey;
	color: $white;
}

::-moz-selection {
	color: #fafafa;
	background: $primary;
}

::selection {
	color: #fafafa;
	background: $primary;
}

/*Custom*/

// Mixins
@mixin desktop {
	@media (min-width: 840px) {
		@content;
	}
}

@mixin mobile {
	@media (max-width: 768px) {
		@content;
	}
}

// Arrow
.uiScrollTopArrow {
	position: fixed;
	z-index: 10;
	bottom: 1.5em;
	right: 1.5em;

	@include mobile {
		bottom: 1em;
		right: 1em;
	}
}

.upArrow {
	border: 4px solid white;
	border-radius: 2px;
	border-left: 0;
	border-bottom: 0;
	content: '';
	display: block;
	height: 0.8rem;
	margin-top: -0.33em;
	pointer-events: none;
	position: absolute;
	top: 50%;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: center;
	transform-origin: center;
	width: 0.8rem;
}

// Background
.bg {
	height: 100vh;
	width: 100vw;
	position: fixed;

	.bg-svg {
		pointer-events: none;
		position: absolute;
		top: 0;
		right: 0;
	}

	@include desktop() {
		.bg-svg {
			height: 100vh;
			width: auto;
		}
	}
}

// Container
.container {
	z-index: 10;
}

// Download Button
.downloadBtnContainer {
	margin-bottom: 2rem;

	.button {
		border-radius: 8px;
		-webkit-transition: -webkit-box-shadow 0.5s ease;
		transition: -webkit-box-shadow 0.5s ease;
		transition: box-shadow 0.5s ease;
		transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
		-webkit-box-shadow: $card-shadow;
		box-shadow: $card-shadow;
		&:hover {
			-webkit-box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.22);
			box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3), 0 12px 12px rgba(0, 0, 0, 0.22);
		}
	}
}

// Fade
.fadeDown {
	-webkit-animation: fadeDown 0.5s linear;
	animation: fadeDown 0.5s linear;
}

@-webkit-keyframes fadeDown {
	from {
		opacity: 0;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes fadeDown {
	from {
		opacity: 0;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

.fadeOut {
	-webkit-animation: fadeOut 0.5s linear;
	animation: fadeOut 0.5s linear;
}

@-webkit-keyframes fadeOut {
	from {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		opacity: 0;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@keyframes fadeOut {
	from {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	to {
		opacity: 0;
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

// Footer
footer .content {
	line-height: 2rem;

	@include mobile {
		margin-bottom: 1.5rem;
	}
}

// Form 2
.form-2 .input {
	cursor: text;
}

// Helpers
.is-paddingless-x {
	padding-right: 0;
	padding-left: 0;
}

.is-ripple {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);

	&::after {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
		background-repeat: no-repeat;
		background-position: 50%;
		-webkit-transform: scale(10, 10);
		transform: scale(10, 10);
		opacity: 0;
		-webkit-transition: opacity 1s, -webkit-transform 0.5s;
		transition: opacity 1s, -webkit-transform 0.5s;
		transition: transform 0.5s, opacity 1s;
		transition: transform 0.5s, opacity 1s, -webkit-transform 0.5s;
	}

	&:active:after {
		-webkit-transform: scale(0, 0);
		transform: scale(0, 0);
		opacity: 0.3;
		-webkit-transition: 0s;
		transition: 0s;
	}
}

// Loader
.loadContainer {
	height: 100vh;
	width: 100vw;
	text-align: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.loader {
	@include loader;
	height: 2rem;
	width: 2rem;
	border: 2px solid $white;
	border-right-color: transparent;
	border-top-color: transparent;
}

// Main
.main {
	min-height: 100vh;
	max-width: 100vw;
}

// Table
.emi-table-container {
	-webkit-box-shadow: $card-shadow;
	box-shadow: $card-shadow;
	overflow: auto;
	cursor: all-scroll;
	max-height: 60vh;
	-webkit-transition: -webkit-box-shadow 0.5s ease;
	transition: -webkit-box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease;
	transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;

	.emi-table {
		th,
		td {
			text-align: center;
		}

		td {
			font-family: 'Roboto Condensed', 'Segoe UI', sans-serif;
		}

		.thead th {
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			left: 0;
			z-index: 20;
			background-color: $primary;
		}

		.thead th:first-child {
			z-index: 25;
		}

		.tbody th,
		tfoot th {
			position: -webkit-sticky;
			position: sticky;
			left: 0;
			z-index: 10;
			border-right: 1px solid #dbdbdb;
		}

		.tbody th:nth-child(even) {
			background-color: #f5f5f5;
		}

		.tbody th:nth-child(odd) {
			background-color: #fff;
		}

		tfoot th:first-child {
			background-color: #cacaca;
		}
	}

	&:hover {
		-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	}

	@include mobile() {
		.emi-table-container {
			max-height: 80vh;
		}
	}
}

/* Bulma */

// Button
.button {
	&.is-primary {
		background-color: $primary;
		background-image: -webkit-gradient(linear, left top, right top, from($primary), to(lighten($primary, 12%)));
		background-image: linear-gradient(to right, $primary, lighten($primary, 12%));
		border: none;
	}

	&.is-danger {
		background-color: $danger;
		background-image: -webkit-gradient(linear, left top, right top, from($danger), to(lighten($danger, 20%)));
		background-image: linear-gradient(to right, $danger, lighten($danger, 20%));
		border: none;
	}
}

// Card
.card {
	background-image: -webkit-gradient(linear, left top, right top, from(#e0eafc), to(#cfdef3));
	background-image: linear-gradient(to right, #e0eafc, #cfdef3);
	border-radius: 10px;
	-webkit-transition: -webkit-box-shadow 1s ease;
	transition: -webkit-box-shadow 1s ease;
	transition: box-shadow 1s ease;
	transition: box-shadow 1s ease, -webkit-box-shadow 1s ease;

	&.h-100 {
		-webkit-transition: height 0.5s ease, -webkit-box-shadow 0.5s ease;
		transition: height 0.5s ease, -webkit-box-shadow 0.5s ease;
		transition: height 0.5s ease, box-shadow 0.5s ease;
		transition: height 0.5s ease, box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
		height: 100%;
	}

	&:hover {
		-webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
		box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
	}
}

// Nav
.navbar {
	&.is-transparent {
		background-color: transparent;
		background-image: none;

		.navbar-menu {
			background-color: rgba(0, 0, 0, 0);
		}

		.navbar-item,
		.navbar-link {
			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}
	}

	.heading {
		text-shadow: 1px 1px 0 #ccc, 2px 2px 0 #ccc, 3px 3px 0 #444, 4px 4px 0 #444, 5px 5px 0 #444, 6px 6px 0 #444;
	}
}
