@charset 'utf-8';

/*Bulma Variables*/

// Colors
$primary: #03a9f4;
$link: #3f51b5;
$info: #2196f3;
$success: #23d160;
$warning: #ffc107;
$danger: #f44336;

// Font
$family-primary: 'Robooto Slab', 'Segoe UI', Sans-serif;
$family-secondary: 'Roboto Condensed', sans-serif;
$body-font-size: calc(12px + 0.5vmax);

// Table
$table-head-background-color: #fff;
$table-head-cell-color: #fff;
$table-foot-background-color: #cacaca;
$table-foot-cell-color: #303030;

// Shadow
$card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

// Footer
$footer-background-color: transparent;
$footer-padding: 1.5rem;
